.recording-control {
    position: absolute;
    bottom: -50px;
    right: 10px;
    z-index: 1000; /* 确保按钮在其他元素之上 */
}

.recording-button, .stop-button {
    width: 60px;
    height: 60px;
    border: #334251;
    border-radius: 50%;
    background-color: #e10f0f;
    color: white;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.recording-button::before, .stop-button::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
}

.recording-button::before {
    border-radius: 50%;
}

.stop-button::before {
    width: 28px;
    height: 28px;
}
